$backgroundColor-body: hsl(185, 41%, 84%);
$backgroundColor-input: hsl(185, 41%, 97%);
$backgroundColor-money: hsl(183, 100%, 15%);

* {
    padding: 0;
    margin: 0;
}

body,
input {
    background-color: $backgroundColor-body;
    font-family: 'Space Mono';
}

h4,h5 {
    color: hsl(184, 14%, 43%);
}

#logo {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    margin: 10px;

    img {
        width: 87px;
        height: 54px;

    }
}

#main-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

#bill-container {
    width: 80%;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    input {
        padding: 5px;
        height: 30px;
        background-color: $backgroundColor-input;
        border: none;
        text-align: right;
        color: hsl(183, 100%, 15%);
        font-size: 24px;
        font-weight: bold;
    }
}

#tip-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h4 {
        width: 100%;
        margin: 10px;
    }

    .tip-button {
        height: 40px;
        font-size: 24px;
        text-align: center;
        flex: 0 0 5em;
        margin: 4px;
        border-radius: 3px;
        border: none;
        color: white;

        background-color: $backgroundColor-money;
    }
}

#peopleAmount-container {
    width: 80%;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h4 {
        margin: 2px;
        margin-bottom: 10px;
    }

    .nbofPeopleInput {
        height: 30px;
        padding: 5px;
        background-color: $backgroundColor-input;
        text-align: right;
        font-size: 24px;
        font-weight: bold;
        color: $backgroundColor-money;
        border: none;

    }
}

#final-container {
    background-color: $backgroundColor-money;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono';
    text-align: center;
    border-radius: 10px;

    #tip,
    #total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px;

        h4 {
            color: white;
        }

        #tipPerson,#totalPerson {
            text-align: start;
            margin: 10px;

        }
        

        h3 {
            color: hsl(172, 67%, 45%);
            font-size: 24px;
            margin: 10px;
        }

    }

    #resetBtn {
        background-color: hsl(172, 67%, 45%);
        margin: 20px;
        height: 2em;
        font-size: 18px;
        color: $backgroundColor-money;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-weight: bold;
    }
}