* {
  padding: 0;
  margin: 0;
}

body,
input {
  background-color: #c5e4e7;
  font-family: "Space Mono";
}

h4,
h5 {
  color: #5e7b7d;
}

#red-warning {
  display: none;
  color: red;
}

#logo {
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
  margin: 10px;
}
#logo img {
  width: 87px;
  height: 54px;
}

#main-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px 20px 0 0;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bill-container {
  width: 75%;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#bill-container input {
  padding: 5px;
  height: 30px;
  background-color: #f4fafa;
  border: none;
  text-align: right;
  color: #00494d;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}
#bill-container #billAmountInput {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

#textContainer1 {
  display: flex;
  justify-content: space-between;
}

#textContainer2 {
  display: flex;
  justify-content: space-between;
}

#tip-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1px;
  row-gap: 1px;
}
#tip-container h4 {
  width: 100%;
  margin: 10px;
  flex: 1 1 auto;
}
#tip-container .tip-button {
  height: 40px;
  font-size: 24px;
  text-align: center;
  flex: 0 0 140px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #00494d;
}
#tip-container .active {
  background-color: #26c0ab;
  color: #c5e4e7;
}
#tip-container .tip-button:hover {
  color: #00494d;
  background-color: #c5e4e7;
  cursor: pointer;
}
#tip-container input:last-of-type {
  background-color: #f4fafa;
  color: #5e7a7d;
  font-weight: bold;
  font-size: 24px;
  width: 10px;
}

#peopleAmount-container {
  width: 75%;
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#peopleAmount-container h4 {
  margin: 2px;
  margin-bottom: 10px;
}
#peopleAmount-container #nbofPeopleInput {
  height: 30px;
  padding: 5px;
  background-color: #f4fafa;
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  color: #00494d;
  border: none;
  border-radius: 5px;
}

#final-container {
  background-color: #00494d;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono";
  text-align: center;
  border-radius: 10px;
}
#final-container #tip,
#final-container #total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}
#final-container #tip h4,
#final-container #total h4 {
  color: white;
}
#final-container #tip #tipPerson,
#final-container #tip #totalPerson,
#final-container #total #tipPerson,
#final-container #total #totalPerson {
  text-align: start;
  margin: 10px;
}
#final-container #tip h3,
#final-container #total h3 {
  color: #26c0ab;
  font-size: 36px;
  margin: 10px;
}
#final-container #resetBtn {
  background-color: #26c0ab;
  margin: 20px;
  height: 2em;
  font-size: 18px;
  color: #00494d;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-weight: bold;
}
#final-container #resetBtn:hover {
  background-color: #c5e4e7;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  #main-container {
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
    flex-direction: row;
    border-radius: 25px;
  }

  #main-content {
    width: 50%;
    height: 80%;
    justify-content: center;
  }

  #tip-container .tip-button {
    flex: 0 0 4em;
  }

  #final-container {
    margin: auto;
    margin-right: 30px;
    width: 50%;
    height: 85%;
    justify-content: space-between;
  }
  #final-container #amountPerson {
    margin-top: 20px;
  }
  #final-container #tip,
#final-container #total {
    align-items: center;
  }
  #final-container #resetBtn {
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
