$backgroundColor-body: hsl(185, 41%, 84%);
$backgroundColor-input: hsl(185, 41%, 97%);
$backgroundColor-money: hsl(183, 100%, 15%);

* {
    padding: 0;
    margin: 0;
}

body,
input {
    background-color: $backgroundColor-body;
    font-family: 'Space Mono';
}

h4,
h5 {
    color: hsl(184, 14%, 43%);
}

#logo {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    margin: 10px;

    img {
        width: 87px;
        height: 54px;

    }
}

#main-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bill-container {
    width: 75%;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    input {
        padding: 5px;
        height: 30px;
        background-color: $backgroundColor-input;
        border: none;
        text-align: right;
        color: hsl(183, 100%, 15%);
        font-size: 24px;
        font-weight: bold;
        border-radius: 5px;
    }

    #billAmountInput {
        background-image: url('images/icon-dollar.svg');
        background-repeat: no-repeat;
        background-position: 5% 50%;
    }
}

#textContainer1 {
    display: flex;
    justify-content: space-between;
}
#textContainer2 {
    display: flex;
    justify-content: space-between;
}

#tip-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;

    h4 {
        width: 100%;
        margin: 10px;
        flex: 1 1 auto;
    }

    .tip-button {
        height: 40px;
        font-size: 24px;
        text-align: center;
        flex: 0 0 140px;
        margin: 4px;
        border-radius: 5px;
        border: none;
        color: white;

        background-color: $backgroundColor-money;


    }

    .active {
        background-color: hsl(172, 67%, 45%);
        color: $backgroundColor-body;
    }

    .tip-button:hover {
        color: $backgroundColor-money;
        background-color: $backgroundColor-body;
        cursor: pointer;
    }

    input:last-of-type {
        background-color: $backgroundColor-input;
        color: hsl(186, 14%, 43%);
        font-weight: bold;
        font-size: 24px;
        width: 10px;
    }

}

#peopleAmount-container {
    width: 75%;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h4 {
        margin: 2px;
        margin-bottom: 10px;
    }

    #nbofPeopleInput {
        height: 30px;
        padding: 5px;
        background-color: $backgroundColor-input;
        background-image: url('images/icon-person.svg');
        background-repeat: no-repeat;
        background-position: 5% 50%;
        text-align: right;
        font-size: 24px;
        font-weight: bold;
        color: $backgroundColor-money;
        border: none;
        border-radius: 5px;

    }
}

#final-container {
    background-color: $backgroundColor-money;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono';
    text-align: center;
    border-radius: 10px;

    #tip,
    #total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px;

        h4 {
            color: white;
        }

        #tipPerson,
        #totalPerson {
            text-align: start;
            margin: 10px;

        }


        h3 {
            color: hsl(172, 67%, 45%);
            font-size: 36px;
            margin: 10px;
        }

    }

    #resetBtn {
        background-color: hsl(172, 67%, 45%);
        margin: 20px;
        height: 2em;
        font-size: 18px;
        color: $backgroundColor-money;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-weight: bold;


    }

    #resetBtn:hover {
        background-color: $backgroundColor-body;
        cursor: pointer;
    }
}

@media screen and (min-width: 1440px) {
    #main-container {
        width: 60vw;
        height: 50vh;
        margin: 0 auto;
        flex-direction: row;
        border-radius: 25px;
    }

    #main-content {
        width: 50%;
        height: 80%;
        justify-content: center;
    }

    #tip-container {
        .tip-button {
            flex: 0 0 4em;
        }
    }

    #final-container {
        margin: auto;
        margin-right: 30px;
        width: 50%;
        height: 85%;
        justify-content: space-between;

        #amountPerson {
            margin-top: 20px;

        }

        #tip,
        #total {
            align-items: center;
        }

        #resetBtn {
            margin: 40px;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 40px;
        }
    }

}